# libraries and packages
*.a filter=lfs -crlf
*.apk filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs -crlf
*.dylib filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs -crlf
*.rar filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs -crlf
*.zip filter=lfs -crlf
*.asset filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Assets/Moon[[:space:]]Terrain/Terrain/Moon[[:space:]]Terrain_x0_y0.asset filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
