<!-- ========================================================= -->
<!-- Loads axel's URDF                                    -->
<!-- ========================================================= -->
<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro $(find axel_description)/urdf/axel.urdf.xacro"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>