<!-- ========================================================= -->
<!-- Loads armstrong's URDF into RVIZ without any controller   -->
<!-- ========================================================= -->

<launch>
  <!-- Default values  -->
  <arg name="gui" default="true" />

  <arg name="model" default="$(find armstrong_description)/urdf/armstrong.urdf"/>
 
  <arg name="rvizconfig" default="$(find armstrong_description)/rviz/urdf.rviz" />
  
  <param name="robot_description" command="$(find xacro)/xacro $(find armstrong_description)/urdf/armstrong.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
